# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: SDK Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Install dependencies
      run: go get .

    - name: Test
      env:
        BASEURL_DISCOVERY: ${{ secrets.BASEURL_DISCOVERY }}
        BASEURL_GENERAL: ${{ secrets.BASEURL_GENERAL }}
        USERID : ${{ secrets.TEST_TRIAL_USERID }}
        TEST_USER: ${{ secrets.TEST_TRIAL_USERID }}
        TEST_USER_PRIVKEY: ${{ secrets.TEST_TRIAL_PRIVKEY }}
        TEST_USER_PUBKEY: ${{ secrets.TEST_TRIAL_PUBKEY }}
        
      run: go test -v ./...

